@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

p {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}
.span {
  font-size: 18px;
  background-color: #2cc7c1;
  border-radius: 4px;
  padding: 6px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.btn-primary {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #6a7079;
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #7792c1;
}
.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #2cc7c1;
}
.tabs-form {
  max-width: 566px;
  border: 3px solid rgb(236, 236, 236);
}
.tab-btn {
  padding: 24px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  color: rgb(171, 177, 186);
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.tab-btn-use {
  color: #9097a1;
  background-color: #fff;
  padding: 24px;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.tab-body-text p {
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(153, 153, 153);
  text-align: left;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px 0;
}
.card {
  padding: 0 30px;
  color: rgb(119, 122, 125);
  cursor: pointer;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: color 0.2s;
}
.unique-text {
  max-width: 480px;
  max-height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.unique-title h1 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: rgb(130, 134, 137);
  text-transform: uppercase;
}
.unique-text-one {
  font-family: "Ubuntu", sans-serif;
  font-size: 22px;
  color: rgb(130, 134, 137);
}
.unique-text-two {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: rgb(130, 134, 137);
}
.list {
  color: rgb(153, 153, 153);
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
}
.h2s h2 {
  color: rgb(130, 134, 137);
  max-width: 650px;
  font-size: 22px;
  font-weight: 300;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: 0 auto;
}
.content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 170px;
}
.content-list p {
  font-size: 16px;
}

/* BEGINNINg */

.eventide {
  min-height: 100vh;
  background: url(/images/back.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.eventide-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 26px;
}
.eventide-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 630px;
}
.eventide-data h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
}
.eventide-text {
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.eventide-btns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.btn-register {
  border-radius: 4px;
  background-color: #6a7079;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Monsterrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}
.btn-register:hover {
  background-color: #7792c1;
}
.btn-discover {
  border-radius: 4px;
  background-color: #6a7079;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Monsterrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
}
.btn-discover:hover {
  background-color: #7792c1;
}

/* GAP */

.goals {
  padding: 30px 0;
}
.goals-inner {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  padding: 100px 0;
}
.goals-tabs {
  max-width: 566px;
  border: 3px solid rgb(236, 236, 236);
}
.goals-tabs-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 566px;
}
.goals-tabs-body {
  position: relative;
}
.tabs-body-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.body-content-2 {
  display: flex;
  justify-content: start;
}
.unique-tabs-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 18px;
}
.fact-items-li {
  display: flex;
  font-size: 17px;
  color: rgb(153, 153, 153);
  font-family: "Ubuntu", sans-serif;
  gap: 10px;
}
.body-content-2 img {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: -100;
}

/* GAP */

.speaker {
  padding: 30px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.speaker-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.speaker-name h2 {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(119, 122, 125);
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s;
}
.speaker-name h2:hover,
.speaker-inner img:hover {
  color: #2cc7c1;
}
.card-text p {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(130, 134, 137);
  text-align: center;
}
.card img {
  border-radius: 100px;
}

/* GAP */

.schedule {
  padding: 50px 0;
}
.schedule-inner {
  display: flex;
  justify-content: space-between;
}
.schedule-tabs {
  max-width: 566px;
  border: 3px solid rgb(236, 236, 236);
}
.schedule-tabs-header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(236, 236, 236);
}
.tabs-body-inner {
  padding: 30px;
}
.text-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.text-button h2 {
  cursor: pointer;
  color: #2cc7c1;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  font-weight: bold;
}
